
Running tests... 
----------------------------------------------------------------------
 test_url_link (pages.components.main.GameLobby) ... FAIL (76.288116)s

======================================================================
FAIL [76.288116s]: pages.components.main.GameLobby.test_url_link
----------------------------------------------------------------------
Traceback (most recent call last):
  File "F:\Automation\Hiko Selenium\Hiko-Automation-Selenium\Template\src\pages\components\main.py", line 187, in test_url_link
    NCC_Selector.click()
  File "F:\Automation\Hiko Selenium\Hiko-Automation-Selenium\Template\src\pages\UIObject.py", line 167, in click
    self.get_element(wait).click()
  File "F:\Automation\Hiko Selenium\Hiko-Automation-Selenium\Template\src\pages\UIObject.py", line 33, in get_element
    self.wait_to_appear(wait)
  File "F:\Automation\Hiko Selenium\Hiko-Automation-Selenium\Template\src\pages\UIObject.py", line 99, in wait_to_appear
    .format(self.locator, wait))
AssertionError: Locator did not appear: btn-secondary in 10 seconds!
[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\A3\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

----------------------------------------------------------------------
Ran 1 test in 0:01:16

FAILED
 (Failures=1)

Generating HTML reports... 
reports\TestResults_pages.components.main.GameLobby_2021-03-17_22-01-26.html
